<div class="book-l">
 <h2 class="title"><%= @book.title %></h2>
 <p class="book-title"><></p>
 <h2 class="body">Body</h2>
 <p class="book-body"><%= @book.body %></p>

 <%= link_to "Edit",edit_book_path(@book.id) %>

 <%= link_to "Back", books_path, class: "back" %>

</div>