<h2>Title</h2>
<p><%= @list.title %></p>
<h2>Body</h2>
<p><%= @list.body %></p>
<%= link_to "編集",edit_book_path(@list.id) %>
<%= link_to "削除", destroy__path(@list.id), method: :delete, "data-confirm" => "Are you sure?" %>